In [1]:
import pandas as pd

In [2]:
data_csv = 'final_dataset.csv'

full_data = pd.read_csv(data_csv)

full_data

/Users/ryanashcraft/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,...,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description,Total_Popupation,Total_Households,Median_Household_Income
0,0,01/01/2018,0,Burglary/Robbery,1.0,Residence or House,1300,ROSEDALE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,3561.0,1836.0,85531.0
1,1,01/01/2018,0,Burglary/Robbery,1.0,Apartment,3900,ARLINGTON SQUARE DR,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,7091.0,2090.0,43452.0
2,2,01/01/2018,0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200,BELLERIVE DRIVE,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,5059.0,2062.0,36309.0
3,3,01/01/2018,0,Assault,2.0,"Road, Street, or Sidewalk",4900,DANFIELD,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,9909.0,2479.0,49702.0
4,4,01/01/2018,0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100,CLEBURNE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,2514.0,663.0,12260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406415,406415,5/31/20,23,Theft,1.0,"Parking Lot, Garage",16501,CENTRAL GREEN,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,NaN,NaN,NaN
406416,406416,5/31/20,23,Theft,1.0,"Parking Lot, Garage",7815,WILLOW CHASE,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,NaN,NaN,NaN
406417,406417,5/31/20,23,Intimidation,1.0,"Residence, Home (Includes Apartment)",9550,ELLA LEE,LN,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,3923.0,1990.0,42874.0
406418,406418,5/31/20,23,Theft,1.0,"Parking Lot, Garage",10000,FANNIN,ST,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,NaN,NaN,NaN
406419,406419,5/31/20,23,Theft,1.0,"Parking Lot, Garage",10421,CLAY,RD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,6705.0,2514.0,80528.0

In [3]:
# counts = full_data['Tract'].value_counts()

# full_data = full_data[~full_data['Tract'].isin(counts[counts < 2].index)]

full_data.columns

# full_data['Tract'].unique()

# full_data['Tract'].value_counts()

Index(['Unnamed: 0', 'Date', 'Hour', 'Offense_Type', 'Offense_Count',
       'Premise', 'Block_Range', 'Street_Name', 'Street_Type', 'City', 'State',
       'Street_Address', 'Full_Address', 'Latitude', 'Longitude', 'Tract',
       'Year', 'Month', 'Day', 'Week_Num', 'Day_of_Week', 'Temperature',
       'Precipitation', 'Weather', 'Weather_Description', 'Total_Popupation',
       'Total_Households', 'Median_Household_Income'],
      dtype='object')

In [4]:
cleaned_data = full_data.dropna()

cleaned_data

,Unnamed: 0,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,...,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description,Total_Popupation,Total_Households,Median_Household_Income
0,0,01/01/2018,0,Burglary/Robbery,1.0,Residence or House,1300,ROSEDALE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,3561.0,1836.0,85531.0
1,1,01/01/2018,0,Burglary/Robbery,1.0,Apartment,3900,ARLINGTON SQUARE DR,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,7091.0,2090.0,43452.0
2,2,01/01/2018,0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200,BELLERIVE DRIVE,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,5059.0,2062.0,36309.0
3,3,01/01/2018,0,Assault,2.0,"Road, Street, or Sidewalk",4900,DANFIELD,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,9909.0,2479.0,49702.0
4,4,01/01/2018,0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100,CLEBURNE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,2514.0,663.0,12260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406411,406411,5/31/20,23,Theft,1.0,"Residence, Home (Includes Apartment)",14041,NORTHWEST,FWY,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,6867.0,2964.0,28225.0
406413,406413,5/31/20,23,Intimidation,0.0,"Residence, Home (Includes Apartment)",8787,HAMMERLY,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,5762.0,2146.0,33569.0
406414,406414,5/31/20,23,Theft,1.0,"Bank, Savings & Loan",8787,HAMMERLY,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,5762.0,2146.0,33569.0
406417,406417,5/31/20,23,Intimidation,1.0,"Residence, Home (Includes Apartment)",9550,ELLA LEE,LN,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,3923.0,1990.0,42874.0
406419,406419,5/31/20,23,Theft,1.0,"Parking Lot, Garage",10421,CLAY,RD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,6705.0,2514.0,80528.0

In [5]:
cleaned_data['Tract']

0         313100.0
1         321300.0
2         432801.0
3         330700.0
4         312800.0
            ...
406411    521700.0
406413    521200.0
406414    521200.0
406417    431102.0
406419    521900.0
Name: Tract, Length: 309959, dtype: float64

In [6]:
# For any columns we want to remove the .0 from
cleaned_data['Tract'] = cleaned_data['Tract'].apply(lambda f: format(f, '.0f'))

cleaned_data

/Users/ryanashcraft/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,...,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description,Total_Popupation,Total_Households,Median_Household_Income
0,0,01/01/2018,0,Burglary/Robbery,1.0,Residence or House,1300,ROSEDALE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,3561.0,1836.0,85531.0
1,1,01/01/2018,0,Burglary/Robbery,1.0,Apartment,3900,ARLINGTON SQUARE DR,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,7091.0,2090.0,43452.0
2,2,01/01/2018,0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200,BELLERIVE DRIVE,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,5059.0,2062.0,36309.0
3,3,01/01/2018,0,Assault,2.0,"Road, Street, or Sidewalk",4900,DANFIELD,-,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,9909.0,2479.0,49702.0
4,4,01/01/2018,0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100,CLEBURNE,ST,Houston,...,1,1,Monday,46.56,0.00,Clouds,overcast clouds,2514.0,663.0,12260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406411,406411,5/31/20,23,Theft,1.0,"Residence, Home (Includes Apartment)",14041,NORTHWEST,FWY,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,6867.0,2964.0,28225.0
406413,406413,5/31/20,23,Intimidation,0.0,"Residence, Home (Includes Apartment)",8787,HAMMERLY,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,5762.0,2146.0,33569.0
406414,406414,5/31/20,23,Theft,1.0,"Bank, Savings & Loan",8787,HAMMERLY,BLVD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,5762.0,2146.0,33569.0
406417,406417,5/31/20,23,Intimidation,1.0,"Residence, Home (Includes Apartment)",9550,ELLA LEE,LN,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,3923.0,1990.0,42874.0
406419,406419,5/31/20,23,Theft,1.0,"Parking Lot, Garage",10421,CLAY,RD,Houston,...,31,22,Sunday,74.26,4.32,Rain,heavy intensity rain,6705.0,2514.0,80528.0

In [7]:
cleaned_data['Tract']

0         313100
1         321300
2         432801
3         330700
4         312800
           ...
406411    521700
406413    521200
406414    521200
406417    431102
406419    521900
Name: Tract, Length: 309959, dtype: object

In [8]:
cleaned_data.to_csv('cleaned_data.csv')

In [9]:
mach_learn_df = cleaned_data[['Hour', 'Offense_Type',
       'Premise', 'City',
       'Tract',
       'Month', 'Day_of_Week', 'Temperature',
       'Weather']]

mach_learn_df

,Hour,Offense_Type,Premise,City,Tract,Month,Day_of_Week,Temperature,Weather
0,0,Burglary/Robbery,Residence or House,Houston,313100,1,Monday,46.56,Clouds
1,0,Burglary/Robbery,Apartment,Houston,321300,1,Monday,46.56,Clouds
2,0,Burglary/Robbery,"Road, Street, or Sidewalk",Houston,432801,1,Monday,46.56,Clouds
3,0,Assault,"Road, Street, or Sidewalk",Houston,330700,1,Monday,46.56,Clouds
4,0,Theft,"Church, Synagogue, or Temple Parking Lot",Houston,312800,1,Monday,46.56,Clouds
...,...,...,...,...,...,...,...,...,...
406411,23,Theft,"Residence, Home (Includes Apartment)",Houston,521700,5,Sunday,74.26,Rain
406413,23,Intimidation,"Residence, Home (Includes Apartment)",Houston,521200,5,Sunday,74.26,Rain
406414,23,Theft,"Bank, Savings & Loan",Houston,521200,5,Sunday,74.26,Rain
406417,23,Intimidation,"Residence, Home (Includes Apartment)",Houston,431102,5,Sunday,74.26,Rain
406419,23,Theft,"Parking Lot, Garage",Houston,521900,5,Sunday,74.26,Rain

In [12]:
mach_learn_df['City'].unique()

array(['Houston', 'HUMBLE', 'SOUTH+Houston', 'WALLER', 'STAFFORD',
       'PASADENA', 'KINGWOOD', 'LEAGUE+CITY', 'WEBSTER', 'BELLAIRE',
       'BAYTOWN', 'HUFFMAN', 'ROSENBERG', 'MISSOURI+CITY', 'PEARLAND',
       'RICHMOND', 'CYPRESS', 'GALENA+PARK', 'FRIENDSWOOD',
       'THE+WOODLANDS', 'JACINTO+CITY', 'SPRING'], dtype=object)

In [14]:
mach_learn_df['City'] = mach_learn_df['City'].str.replace('+', ' ', regex=True)

mach_learn_df

/Users/ryanashcraft/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Hour,Offense_Type,Premise,City,Tract,Month,Day_of_Week,Temperature,Weather
0,0,Burglary/Robbery,Residence or House,Houston,313100,1,Monday,46.56,Clouds
1,0,Burglary/Robbery,Apartment,Houston,321300,1,Monday,46.56,Clouds
2,0,Burglary/Robbery,"Road, Street, or Sidewalk",Houston,432801,1,Monday,46.56,Clouds
3,0,Assault,"Road, Street, or Sidewalk",Houston,330700,1,Monday,46.56,Clouds
4,0,Theft,"Church, Synagogue, or Temple Parking Lot",Houston,312800,1,Monday,46.56,Clouds
...,...,...,...,...,...,...,...,...,...
406411,23,Theft,"Residence, Home (Includes Apartment)",Houston,521700,5,Sunday,74.26,Rain
406413,23,Intimidation,"Residence, Home (Includes Apartment)",Houston,521200,5,Sunday,74.26,Rain
406414,23,Theft,"Bank, Savings & Loan",Houston,521200,5,Sunday,74.26,Rain
406417,23,Intimidation,"Residence, Home (Includes Apartment)",Houston,431102,5,Sunday,74.26,Rain
406419,23,Theft,"Parking Lot, Garage",Houston,521900,5,Sunday,74.26,Rain

In [15]:
mach_learn_df['City'].unique()

array(['Houston', 'HUMBLE', 'SOUTH Houston', 'WALLER', 'STAFFORD',
       'PASADENA', 'KINGWOOD', 'LEAGUE CITY', 'WEBSTER', 'BELLAIRE',
       'BAYTOWN', 'HUFFMAN', 'ROSENBERG', 'MISSOURI CITY', 'PEARLAND',
       'RICHMOND', 'CYPRESS', 'GALENA PARK', 'FRIENDSWOOD',
       'THE WOODLANDS', 'JACINTO CITY', 'SPRING'], dtype=object)

In [19]:
mach_learn_df.to_csv('mach_learn_df.csv')