In [110]:
import pandas as pd

In [111]:
houston_weather = pd.read_csv('Luis/houston_weather.csv')
crime_data = pd.read_csv('data_clean_up/Full_Crimes_CSV.csv')

In [112]:
houston_weather = houston_weather.rename(columns={"Hour_Beginning":"Hour"})
houston_weather.head()

,Unnamed: 0,Date_Time,Date,Year,Month,Week_Num,Day,Hour,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description
0,0,2018-01-01 00:00:00,2018-01-01,2018,1,1,1,0,Monday,46.56,0.0,Clouds,overcast clouds
1,1,2018-01-01 01:00:00,2018-01-01,2018,1,1,1,1,Monday,46.40,0.0,Clouds,overcast clouds
2,2,2018-01-01 02:00:00,2018-01-01,2018,1,1,1,2,Monday,45.07,0.0,Clouds,overcast clouds
3,3,2018-01-01 03:00:00,2018-01-01,2018,1,1,1,3,Monday,43.90,0.0,Clouds,overcast clouds
4,4,2018-01-01 04:00:00,2018-01-01,2018,1,1,1,4,Monday,41.40,0.0,Clouds,broken clouds

In [113]:
crime_data.head()

,Unnamed: 0,Unnamed: 0.1,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,State,Street_Address,Zip_Code,Full_Address,Latitude,Longitude,Tract
0,0,0,1/1/20,0.0,Theft,1.0,"Residence, Home (Includes Apartment)",9311,BELLA PINE,CT,Houston,TX,9311+BELLA+PINE+CT,NaN,"9311 BELLA PINE CT, Houston, TX",29.856285,-95.251628,231200.0
1,1,1,1/1/20,0.0,Assault,1.0,"Residence, Home (Includes Apartment)",8701,GUSTINE,LN,Houston,TX,8701+GUSTINE+LN,NaN,"8701 GUSTINE LN, Houston, TX",29.669442,-95.532628,423202.0
2,2,2,1/1/20,0.0,Vandalism,1.0,"Residence, Home (Includes Apartment)",8064,LENORE,NaN,Houston,TX,8064+LENORE+,NaN,"8064 LENORE , Houston, TX",29.676495,-95.263450,320602.0
3,3,3,1/1/20,0.0,Assault,1.0,"Residence, Home (Includes Apartment)",5930,DASHWOOD,DR,Houston,TX,5930+DASHWOOD+DR,NaN,"5930 DASHWOOD DR, Houston, TX",29.707437,-95.485750,421403.0
4,4,4,1/1/20,0.0,Vandalism,1.0,"Residence, Home (Includes Apartment)",5218,KENILWOOD,DR,Houston,TX,5218+KENILWOOD+DR,NaN,"5218 KENILWOOD DR, Houston, TX",29.672524,-95.344034,332000.0

In [114]:
#sort crime df
crime_data = crime_data.sort_values(["Date", "Hour"])

#delete unecessary columns
del crime_data["Unnamed: 0"]
del crime_data["Unnamed: 0.1"]
del crime_data["Zip_Code"]

crime_data['Tract'] = crime_data['Tract'].apply(lambda f: format(f, '.0f'))

In [115]:
crime_data['Year'] = pd.DatetimeIndex(crime_data['Date']).year
crime_data['Month'] = pd.DatetimeIndex(crime_data['Date']).month
crime_data['Day'] = pd.DatetimeIndex(crime_data['Date']).day

In [116]:
crime_data.reset_index(drop=True)

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,State,Street_Address,Full_Address,Latitude,Longitude,Tract,Year,Month,Day
0,01/01/2018,0.0,Burglary/Robbery,1.0,Residence or House,1300,ROSEDALE,ST,Houston,TX,1300+ROSEDALE+ST,"1300 ROSEDALE ST, Houston, TX",29.728702,-95.383298,313100,2018,1,1
1,01/01/2018,0.0,Burglary/Robbery,1.0,Apartment,3900,ARLINGTON SQUARE DR,-,Houston,TX,3900+ARLINGTON+SQUARE+DR+-,"3900 ARLINGTON SQUARE DR -, Houston, TX",29.647820,-95.219253,321300,2018,1,1
2,01/01/2018,0.0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200,BELLERIVE DRIVE,-,Houston,TX,7200+BELLERIVE+DRIVE+-,"7200 BELLERIVE DRIVE -, Houston, TX",29.713171,-95.511054,432801,2018,1,1
3,01/01/2018,0.0,Assault,2.0,"Road, Street, or Sidewalk",4900,DANFIELD,-,Houston,TX,4900+DANFIELD+-,"4900 DANFIELD -, Houston, TX",29.600076,-95.452984,330700,2018,1,1
4,01/01/2018,0.0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100,CLEBURNE,ST,Houston,TX,3100+CLEBURNE+ST,"3100 CLEBURNE ST, Houston, TX",29.724583,-95.362610,312800,2018,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406479,9/9/19,23.0,Burglary/Robbery,1.0,"Residence, Home (Includes Apartment)",2555,BERING,DR,Houston,TX,2555+BERING+DR,"2555 BERING DR, Houston, TX",29.739422,-95.479333,431402,2019,9,9
406480,9/9/19,23.0,Theft,1.0,"Residence, Home (Includes Apartment)",2555,BERING,DR,Houston,TX,2555+BERING+DR,"2555 BERING DR, Houston, TX",29.739422,-95.479333,431402,2019,9,9
406481,9/9/19,23.0,Burglary/Robbery,1.0,"Commercial, Office Building",8499,GULF,FWY,Houston,TX,8499+GULF+FWY,"8499 GULF FWY, Houston, TX",29.670256,-95.263593,320602,2019,9,9
406482,9/9/19,23.0,Assault,1.0,"Parking Lot, Garage",2434,LIDSTONE,NaN,Houston,TX,2434+LIDSTONE+,"2434 LIDSTONE , Houston, TX",29.715633,-95.321752,311900,2019,9,9
406483,9/9/19,23.0,Theft,1.0,"Parking Lot, Garage",8215,KOPMAN,DR,Houston,TX,8215+KOPMAN+DR,"8215 KOPMAN DR, Houston, TX",29.643764,-95.304823,nan,2019,9,9

In [117]:
crime_data.dtypes

Date               object
Hour              float64
Offense_Type       object
Offense_Count     float64
Premise            object
Block_Range        object
Street_Name        object
Street_Type        object
City               object
State              object
Street_Address     object
Full_Address       object
Latitude          float64
Longitude         float64
Tract              object
Year                int64
Month               int64
Day                 int64
dtype: object

In [118]:
crime_data['Hour'] = crime_data['Hour'].astype(int)

In [119]:
crime_data.dtypes

Date               object
Hour                int32
Offense_Type       object
Offense_Count     float64
Premise            object
Block_Range        object
Street_Name        object
Street_Type        object
City               object
State              object
Street_Address     object
Full_Address       object
Latitude          float64
Longitude         float64
Tract              object
Year                int64
Month               int64
Day                 int64
dtype: object

In [120]:
houston_weather.dtypes

Unnamed: 0               int64
Date_Time               object
Date                    object
Year                     int64
Month                    int64
Week_Num                 int64
Day                      int64
Hour                     int64
Day_of_Week             object
Temperature            float64
Precipitation          float64
Weather                 object
Weather_Description     object
dtype: object

In [126]:
full_data = pd.merge(crime_data, houston_weather, on = ['Year', 'Month', 'Day', 'Hour'], how="left")

In [127]:
del full_data["Date_Time"]
del full_data["Date_y"]
del full_data["Unnamed: 0"]

In [130]:
full_data = full_data.rename(columns = {"Date_x":"Date"})

In [132]:
full_data

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,State,...,Tract,Year,Month,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description
0,01/01/2018,0,Burglary/Robbery,1.0,Residence or House,1300,ROSEDALE,ST,Houston,TX,...,313100,2018,1,1,1.0,Monday,46.56,0.0,Clouds,overcast clouds
1,01/01/2018,0,Burglary/Robbery,1.0,Apartment,3900,ARLINGTON SQUARE DR,-,Houston,TX,...,321300,2018,1,1,1.0,Monday,46.56,0.0,Clouds,overcast clouds
2,01/01/2018,0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200,BELLERIVE DRIVE,-,Houston,TX,...,432801,2018,1,1,1.0,Monday,46.56,0.0,Clouds,overcast clouds
3,01/01/2018,0,Assault,2.0,"Road, Street, or Sidewalk",4900,DANFIELD,-,Houston,TX,...,330700,2018,1,1,1.0,Monday,46.56,0.0,Clouds,overcast clouds
4,01/01/2018,0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100,CLEBURNE,ST,Houston,TX,...,312800,2018,1,1,1.0,Monday,46.56,0.0,Clouds,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423896,9/9/19,23,Burglary/Robbery,1.0,"Residence, Home (Includes Apartment)",2555,BERING,DR,Houston,TX,...,431402,2019,9,9,37.0,Monday,90.34,0.0,Clear,sky is clear
423897,9/9/19,23,Theft,1.0,"Residence, Home (Includes Apartment)",2555,BERING,DR,Houston,TX,...,431402,2019,9,9,37.0,Monday,90.34,0.0,Clear,sky is clear
423898,9/9/19,23,Burglary/Robbery,1.0,"Commercial, Office Building",8499,GULF,FWY,Houston,TX,...,320602,2019,9,9,37.0,Monday,90.34,0.0,Clear,sky is clear
423899,9/9/19,23,Assault,1.0,"Parking Lot, Garage",2434,LIDSTONE,NaN,Houston,TX,...,311900,2019,9,9,37.0,Monday,90.34,0.0,Clear,sky is clear
423900,9/9/19,23,Theft,1.0,"Parking Lot, Garage",8215,KOPMAN,DR,Houston,TX,...,nan,2019,9,9,37.0,Monday,90.34,0.0,Clear,sky is clear