In [1]:
from sqlalchemy import create_engine
import pandas as pd
from IPython.display import clear_output

In [2]:
cleaned_data = pd.read_csv("cleaned_data.csv")
cleaned_data = cleaned_data.drop(["Unnamed: 0", "Unnamed: 0.1"], axis=1)

In [3]:
cleaned_data.head()

,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,State,...,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description,Total_Popupation,Total_Households,Median_Household_Income
0,01/01/2018,0,Burglary/Robbery,1.0,Residence or House,1300.0,ROSEDALE,ST,Houston,TX,...,1,1,Monday,46.56,0.0,Clouds,overcast clouds,3561.0,1836.0,85531.0
1,01/01/2018,0,Burglary/Robbery,1.0,Apartment,3900.0,ARLINGTON SQUARE DR,-,Houston,TX,...,1,1,Monday,46.56,0.0,Clouds,overcast clouds,7091.0,2090.0,43452.0
2,01/01/2018,0,Burglary/Robbery,1.0,"Road, Street, or Sidewalk",7200.0,BELLERIVE DRIVE,-,Houston,TX,...,1,1,Monday,46.56,0.0,Clouds,overcast clouds,5059.0,2062.0,36309.0
3,01/01/2018,0,Assault,2.0,"Road, Street, or Sidewalk",4900.0,DANFIELD,-,Houston,TX,...,1,1,Monday,46.56,0.0,Clouds,overcast clouds,9909.0,2479.0,49702.0
4,01/01/2018,0,Theft,1.0,"Church, Synagogue, or Temple Parking Lot",3100.0,CLEBURNE,ST,Houston,TX,...,1,1,Monday,46.56,0.0,Clouds,overcast clouds,2514.0,663.0,12260.0

In [4]:
driver = "postgresql"
password = "DreamTeam"
db_name = "dreamteamdb"
user = "postgres"
connection_string = "dream-team-db.cfbdobaisdad.us-east-2.rds.amazonaws.com"
port = 5432
#jdbc_url="jdbc:postgresql://<connection string>:5432/<database-name>"
engine = create_engine(f'{driver}://{user}:{password}@{connection_string}:{port}/{db_name}')

In [5]:
#test connection to the database
connection = engine.connect()
connection.close()

In [ ]:
#Takes long time
#cleaned_data.to_sql('cleaned_data', con=engine)

In [ ]:
#Display columns to insert in the schema
cleaned_data.columns

In [6]:
# Import Dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date

In [7]:
# Create Schema
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Cleaned_data(Base):
    __tablename__ = 'cleaned_data'
    id = Column(Integer, primary_key=True)
    Date = Column(Date)
    Hour = Column(Integer)
    Offense_Type = Column(String(255))
    Offense_Count = Column(String(255))
    Premise = Column(String(255))
    Block_Range = Column(String(255))
    Street_Name = Column(String(255))
    Street_Type = Column(String(255))
    City = Column(String(255))
    State = Column(String(255))
    Street_Address = Column(String(255))
    Full_Address = Column(String(255))
    Latitude = Column(Float)
    Longitude = Column(Float)
    Tract = Column(Integer)
    Year = Column(Integer)
    Month = Column(Integer)
    Day = Column(Integer)
    Week_Num = Column(Integer)
    Day_of_Week = Column(String(255))
    Temperature = Column(Float)
    Precipitation = Column(Float)
    Weather = Column(String(255))
    Weather_Description = Column(String(255))
    Total_Popupation = Column(Float)
    Total_Households = Column(Float)
    Median_Household_Income = Column(Float)

In [9]:
# Create a session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [10]:
# Build schema into DB
Base.metadata.create_all(engine)

In [11]:
# Call the constructors and insert data
length = len(cleaned_data)
for index, row in cleaned_data.iterrows():
    instance = Cleaned_data(id=index, 
                            Date=row["Date"], 
                            Hour=row["Hour"], 
                            Offense_Type=row["Offense_Type"], 
                            Offense_Count=row["Offense_Count"], 
                            Premise=row["Premise"], 
                            Block_Range=row["Block_Range"], 
                            Street_Name=row["Street_Name"], 
                            Street_Type=row["Street_Type"], 
                            City=row["City"], 
                            State=row["State"], 
                            Street_Address=row["Street_Address"], 
                            Full_Address=row["Full_Address"], 
                            Latitude=row["Latitude"], 
                            Longitude=row["Longitude"], 
                            Tract=row["Tract"], 
                            Year=row["Year"], 
                            Month=row["Month"], 
                            Day=row["Day"], 
                            Week_Num=row["Week_Num"], 
                            Day_of_Week=row["Day_of_Week"], 
                            Temperature=row["Temperature"], 
                            Precipitation=row["Precipitation"], 
                            Weather=row["Weather"], 
                            Weather_Description=row["Weather_Description"], 
                            Total_Popupation=row["Total_Popupation"], 
                            Total_Households=row["Total_Households"], 
                            Median_Household_Income=row["Median_Household_Income"], 
                           )
    clear_output(wait=True)
    print(f"inserted index {index} from total {length}")
    try:
        session.add(instance)
        session.commit()
    except:
        session.rollback()

inserted index 309958 from total 309959

In [ ]:
session.close()

In [8]:
#Base.metadata.drop_all(engine)