In [1]:
# Import Dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date 
import pandas as pd

In [2]:
driver = "postgresql"
password = "DreamTeam"
db_name = "dreamteamdb"
user = "postgres"
connection_string = "dream-team-db.cfbdobaisdad.us-east-2.rds.amazonaws.com"
port = 5432
#jdbc_url="jdbc:postgresql://<connection string>:5432/<database-name>"
engine = create_engine(f'{driver}://{user}:{password}@{connection_string}:{port}/{db_name}')

In [3]:
#test connection to the database
connection = engine.connect()
connection.close()

In [4]:
# Create Schema
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class Cleaned_data(Base):
    __tablename__ = 'cleaned_data'
    id = Column(Integer, primary_key=True)
    Date = Column(Date)
    Hour = Column(Integer)
    Offense_Type = Column(String(255))
    Offense_Count = Column(String(255))
    Premise = Column(String(255))
    Block_Range = Column(String(255))
    Street_Name = Column(String(255))
    Street_Type = Column(String(255))
    City = Column(String(255))
    State = Column(String(255))
    Street_Address = Column(String(255))
    Full_Address = Column(String(255))
    Latitude = Column(Float)
    Longitude = Column(Float)
    Tract = Column(Integer)
    Year = Column(Integer)
    Month = Column(Integer)
    Day = Column(Integer)
    Week_Num = Column(Integer)
    Day_of_Week = Column(String(255))
    Temperature = Column(Float)
    Precipitation = Column(Float)
    Weather = Column(String(255))
    Weather_Description = Column(String(255))
    Total_Popupation = Column(Float)
    Total_Households = Column(Float)
    Median_Household_Income = Column(Float)

In [5]:
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [9]:
stmt = session.query(Cleaned_data) \
    .filter(Cleaned_data.Date >'2019-09-26', Cleaned_data.Date <'2020-01-01') \
    .order_by(Cleaned_data.Date.desc()) \
    .limit(10000).statement
cleaned_data_df = pd.read_sql_query(stmt, session.bind)
cleaned_data_df.head()

,id,Date,Hour,Offense_Type,Offense_Count,Premise,Block_Range,Street_Name,Street_Type,City,...,Day,Week_Num,Day_of_Week,Temperature,Precipitation,Weather,Weather_Description,Total_Popupation,Total_Households,Median_Household_Income
0,253066,2019-12-31,0,Intimidation,1.0,Restaurant,1040.0,GESSNER,RD,Houston,...,31,1,Tuesday,56.08,0.0,Clear,sky is clear,3847.0,1414.0,72000.0
1,253463,2019-12-31,23,Intimidation,1.0,"Highway, Road, Street, Alley",9400.0,GULF,FWY,Houston,...,31,1,Tuesday,58.01,0.0,Clouds,overcast clouds,5803.0,2202.0,33161.0
2,253462,2019-12-31,23,Assault,1.0,"Residence, Home (Includes Apartment)",6600.0,HILLCROFT,AVE,Houston,...,31,1,Tuesday,58.01,0.0,Clouds,overcast clouds,7775.0,2469.0,28644.0
3,253461,2019-12-31,23,Assault,1.0,"Residence, Home (Includes Apartment)",3809.0,SOUTHLAWN,ST,Houston,...,31,1,Tuesday,58.01,0.0,Clouds,overcast clouds,4763.0,1928.0,26606.0
4,253460,2019-12-31,23,Assault,1.0,"Residence, Home (Includes Apartment)",3809.0,SOUTHLAWN,ST,Houston,...,31,1,Tuesday,58.01,0.0,Clouds,overcast clouds,4763.0,1928.0,26606.0

In [ ]:
session.close()

In [ ]:
html_data = cleaned_data_df.to_html()
#cleaned_data_df.head().to_json(orient="records")

In [ ]:
text_file = open("Pop-upTable.html", "w")
text_file.write(html_data)
text_file.close()